<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HOMEPAGE</title>
</head>
<body>
<center>
    <h1 style="color: red; text-align: center;">Employee Registration Page</h1>

    <form th:action="@{/register}" method="post" th:object="${employee}">
        <table>
            <tr>
                <th>ENO</th>
                <td><input type="text" th:field="*{empNo}"/></td>
            </tr>
            <tr>
                <th>ENAME</th>
                <td><input type="text" th:field="*{empName}"/></td>
            </tr>
            <tr>
                <th>EADDR</th>
                <td><input type="text" th:field="*{empAddr}"/></td>
            </tr>
            <tr>
                <th>SALARY</th>
                <td><input type="text" th:field="*{empSal}"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit"/></td>
            </tr>
        </table>
    </form>
</center>
</body>
</html>
